@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MTS Sans";
  src: url("../fonts/MTSSans/MTSSans-Regular.woff2") format("woff2"), url("../fonts/MTSSans/MTSSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MTS Sans";
  src: url("../fonts/MTSSans/MTSSans-Bold.woff2") format("woff2"), url("../fonts/MTSSans/MTSSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Montserrat";
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .hamburger {
  display: none;
}

.header__hidden {
  display: none;
}

.header .container {
  width: 1723px;
  margin: 0 20px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav__list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header .nav__item {
  position: relative;
  margin-right: 56px;
}

.header .nav__item:last-child {
  margin-right: 0;
}

.header .nav__item a {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #373737;
}

.header .nav__item a::before {
  position: absolute;
  content: "";
  top: 61px;
  width: 0;
  height: 10px;
  background: #5bb13c;
  left: 50%;
  transition: 0.3s all ease-in-out;
  transform: translateX(-50%);
}

.header .nav__item a:hover::before {
  width: 100%;
}

.header__social {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.header__social-call {
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  transition: 0.3s all;
  text-decoration: none;
}

.header__social-call::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #5bb13c;
  transition: 0.3s all ease-in-out;
  transform: translateX(-50%);
}

.header__social-call:hover {
  color: #5bb13c;
}

.header__social-call:hover::before {
  width: 100%;
}

.header__social-descr {
  margin-top: 7px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.header__social-descr a {
  margin-left: 20px;
}

.header__social-descr a svg {
  display: block;
  width: 32px;
}

.promo {
  position: relative;
  background: url("../img/promo-bg/promo-bg.jpg") center center/cover no-repeat;
  min-height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #e2e2e2;
}

.promo__subtitle-uppercase {
  text-transform: uppercase;
  margin-top: 22px;
}

.promo__title {
  font-weight: 500;
  font-size: 90px;
  line-height: 100%;
  color: #ffffff;
}

.promo__btn {
  margin-top: 50px;
}

.promo__arrow {
  cursor: pointer;
  position: absolute;
  bottom: 56px;
  left: 50%;
  transform: translateX(-50%);
}

.promo__arrow svg {
  z-index: 10;
}

.promo__arrow::before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: -21px;
  left: -19px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #ffffff;
  transition: 0.3s all;
}

.promo__arrow:hover::before {
  border: 2px solid #5bb13c;
  background-color: #5bb13c;
}

.btn {
  cursor: pointer;
  width: 250px;
  height: 60px;
  background: #5bb13c;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  outline-style: none;
  border-style: none;
  transition: 0.3s all;
}

.btn:hover {
  box-shadow: 0 0 50px rgba(91, 177, 60, 0.5);
}

.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 130%;
  color: #373737;
}

.measure {
  position: relative;
  min-height: 973px;
}

.measure__wrapper {
  padding-top: 107px;
}

.measure__square {
  position: relative;
  margin-top: 70px;
  background: linear-gradient(0deg, #ffffff, #ffffff), #f9f9f9;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.measure__square::before {
  content: "";
  width: 146px;
  height: 146px;
  background-image: url("../icons/second-block-dots/left-square.svg");
  background-size: 146px 146px;
  z-index: -1;
  position: absolute;
  bottom: -73px;
  left: -73px;
}

.measure__square::after {
  content: "";
  width: 106px;
  height: 106px;
  background-image: url("../icons/second-block-dots/right-square.svg");
  background-size: 106px 106px;
  z-index: -1;
  position: absolute;
  top: -53px;
  right: -53px;
}

.measure__square-left {
  grid-column: 1/2;
  padding: 60px 0;
}

.measure__square-right {
  grid-column: 2/3;
  background: url(../img/second-block/bg.jpg) center center/cover no-repeat;
}

.measure__square-text {
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #373737;
}

.measure__square-subtext {
  margin-top: 10px;
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #373737;
}

.measure__square-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.measure__square-input {
  width: 400px;
  height: 60px;
  border: 2px solid #dddddd;
  border-radius: 30px;
  margin-bottom: 20px;
  outline-style: none;
  padding: 0 30px 0 30px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  transition: 0.3s all;
}

.measure__square-input:hover {
  border: 2px solid #5bb13c;
}

.measure__square-input::-moz-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #c9c9c9;
}

.measure__square-input::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #c9c9c9;
}

.measure__square-dots-left {
  z-index: -1;
  position: absolute;
  bottom: -73px;
  left: -73px;
}

.measure__square-dots-right {
  z-index: -1;
  position: absolute;
  top: -53px;
  right: -53px;
}

.measure__btn {
  width: 400px;
  font-weight: 400;
}

.how-it-is {
  min-height: 878px;
  background-color: #fafafa;
}

.how-it-is__wrapper {
  padding: 120px 0;
}

.how-it-is__field {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(250px, auto));
  grid-auto-rows: minmax(250px, auto);
  gap: 13px;
}

.how-it-is__field-item {
  background: linear-gradient(0deg, #ffffff, #ffffff), #f9f9f9;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 121px 104px;
  row-gap: 25px;
  transition: 0.3s all;
}

.how-it-is__field-item:last-child {
  grid-column: 1/5;
}

.how-it-is__field-item:hover {
  transform: scale(1.02);
}

.how-it-is__field-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.how-it-is__field-text {
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #373737;
}

.how-it-is__field-text span {
  font-weight: 700;
  color: #5bb13c;
}

.how-it-is__field-last-text {
  font-size: 26px;
  margin-top: 10px;
}

.footer {
  min-height: 200px;
  background: #303464;
}

.footer__hidden {
  display: none;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.footer__rights {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.footer__confident {
  width: 388px;
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.footer__confident a {
  font-weight: 400;
  color: #fff;
  transition: 0.3s all;
}

.footer__confident a:hover {
  color: #5bb13c;
}

.order {
  position: fixed;
  visibility: hidden;
  top: -100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 540px;
  height: 518px;
  background: #ffffff;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  z-index: 13;
  transition: 0.3s all;
}

.order__close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.order.active {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  visibility: visible;
}

.order__block {
  padding: 60px 70px;
}

.order__text {
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #373737;
}

.order__subtext {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #373737;
}

.order__form {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.order__input {
  width: 400px;
  height: 60px;
  border: 2px solid #dddddd;
  border-radius: 30px;
  margin-bottom: 20px;
  outline-style: none;
  padding: 0 30px 0 30px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  transition: 0.3s all;
}

.order__input:hover {
  border: 2px solid #5bb13c;
}

.order__input::-moz-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #c9c9c9;
}

.order__input::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #c9c9c9;
}

.order__btn {
  width: 400px;
  font-weight: 400;
}

.field {
  z-index: 13;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s all;
}

.field.active {
  visibility: visible;
  opacity: 1;
}

.order__succesful {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 540px;
  height: 518px;
  background: #ffffff;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  z-index: 13;
  transition: 0.3s all;
}

.order__succesful-close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.order__succesful.active {
  display: block;
}

.order__succesful-block {
  padding: 60px 70px;
}

.order__succesful-text {
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #373737;
}

.order__succesful-subtext {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #373737;
}

@media (max-width: 1540px) {
  .container {
    max-width: 1140px;
  }
  .header .container {
    max-width: 1382px;
  }
  .header .nav__item {
    margin-right: 46px;
  }
  .header .nav__item a {
    font-size: 16px;
  }
  .header__social-call {
    font-size: 18px;
  }
  .header__social-descr {
    font-size: 16px;
  }
  .promo__subtitle {
    font-size: 20px;
  }
  .promo__title {
    font-size: 86px;
  }
  .how-it-is__field-text {
    font-size: 18px;
  }
  .how-it-is__field-last-text {
    font-size: 26px;
  }
}

@media (max-width: 1439px) {
  .header {
    min-height: 90px;
  }
  .header .container {
    max-width: 1291px;
  }
  .header .nav__item {
    margin-right: 36px;
  }
  .header .nav__item a::before {
    top: 39px;
    height: 5px;
  }
  .header__logo img {
    width: 110px;
  }
  .header__social-call {
    font-size: 16px;
  }
  .header__social-descr {
    font-size: 14px;
    margin-top: 4px;
  }
  .header__social-descr a {
    margin-left: 10px;
  }
  .header__social-descr a svg {
    width: 24px;
  }
}

@media (max-width: 1366px) {
  .header {
    min-height: 56px;
  }
  .header .container {
    max-width: 1225px;
  }
  .header .nav__item {
    margin-right: 26px;
  }
  .header .nav__item a {
    font-size: 14px;
  }
  .header__social-call {
    font-size: 14px;
  }
  .header__logo a img {
    width: 92px;
  }
  .promo {
    min-height: 572px;
  }
  .promo__subtitle {
    font-size: 14px;
  }
  .promo__subtitle-uppercase {
    margin-top: 15px;
  }
  .promo__title {
    margin-top: 10px;
    width: 70%;
    font-size: 60px;
  }
  .promo__btn {
    margin-top: 50px;
  }
  .promo__arrow {
    bottom: 30px;
  }
  .promo__arrow svg {
    z-index: 10;
    width: 10px;
    height: 36px;
  }
  .promo__arrow::before {
    bottom: -5px;
    left: -8px;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
  }
  .promo__arrow:hover::before {
    border: 1px solid #5bb13c;
  }
  .btn {
    width: 200px;
    height: 50px;
    font-size: 14px;
  }
  .order {
    width: 370px;
    height: 420px;
  }
  .order__block {
    padding: 40px 20px;
  }
  .order__close {
    width: 26px;
    right: 15px;
    top: 15px;
  }
  .order__text {
    font-size: 20px;
  }
  .order__subtext {
    margin-top: 6px;
    font-size: 14px;
  }
  .order__input {
    width: 300px;
    height: 50px;
    font-size: 14px;
  }
  .measure {
    min-height: 695px;
  }
  .measure__wrapper {
    padding-top: 60px;
  }
  .measure__square {
    margin-top: 60px;
  }
  .measure__square::after {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    top: -40px;
    right: -13px;
  }
  .measure__square::before {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    bottom: -50px;
    left: -13px;
  }
  .measure__square-left {
    padding: 40px 0;
  }
  .measure__square-right {
    border-radius: 0 10px 10px 0;
  }
  .measure__square-text {
    font-size: 22px;
  }
  .measure__square-subtext {
    margin-top: 10px;
    font-size: 20px;
  }
  .measure__square-form {
    margin-top: 30px;
  }
  .title {
    font-size: 30px;
  }
  .how-it-is {
    min-height: 635px;
  }
  .how-it-is__wrapper {
    padding: 60px 0;
  }
  .how-it-is__field {
    margin-top: 35px;
  }
  .footer {
    min-height: 96px;
  }
  .footer__wrapper {
    padding-top: 17px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .header .container {
    max-width: 1076px;
  }
  .header .nav__item {
    margin-right: 14px;
  }
  .header .nav__item a {
    font-size: 14px;
  }
  .header__logo img {
    width: 90px;
  }
  .header__social-call {
    font-size: 14px;
  }
  .header__social-descr {
    margin-top: 2px;
  }
  .header__social-descr a {
    margin-left: 6px;
  }
  .header__social-descr a svg {
    width: 20px;
  }
  .promo {
    min-height: 568px;
  }
  .promo__title {
    width: 83%;
  }
  .footer__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
  }
  .footer__logo {
    width: 100%;
    text-align: center;
  }
  .footer__rights {
    margin-top: 30px;
  }
  .footer__confident {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .header {
    min-height: 60px;
  }
  .header__wrapper {
    justify-content: flex-end;
  }
  .header .container {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }
  .header .nav__list {
    z-index: 12;
    list-style-type: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    padding: 100px 15px;
    background-color: #5bb13c;
    transition: 0.5s all;
  }
  .header .nav__list.active {
    left: 0;
  }
  .header .nav__item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header .nav__item a {
    display: block;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  .header .nav__item a::before {
    display: none;
  }
  .header .nav__item:last-child {
    margin-bottom: 0;
  }
  .header .nav .hamburger {
    z-index: 12;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 20px;
    top: 31px;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .header .nav .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
    margin-bottom: 4px;
    transition: 0.5s all;
  }
  .header .nav .hamburger__active {
    position: fixed;
  }
  .header .nav .hamburger__active span {
    margin-bottom: -2px;
    background-color: #fff;
  }
  .header .nav .hamburger__active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .header .nav .hamburger__active span:nth-child(2) {
    display: none;
  }
  .header .nav .hamburger__active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .header__social {
    width: 45%;
  }
  .header__social-call:hover {
    color: #5bb13c;
  }
  .promo__title {
    width: 100%;
    font-size: 54px;
  }
  .measure__square {
    width: 80%;
    margin: 60px auto 0 auto;
    grid-template-columns: 1fr;
  }
  .measure__square-left {
    z-index: 11;
    grid-column: auto;
  }
  .measure__square-right {
    grid-column: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-radius: 10px;
  }
  .title {
    font-size: 24px;
    text-align: center;
  }
  .how-it-is {
    min-height: 635px;
  }
  .how-it-is__field {
    width: 90%;
    margin: 35px auto 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .how-it-is__field-text {
    font-size: 20px;
  }
  .how-it-is__field-last-text {
    font-size: 26px;
  }
  .how-it-is__field-item:last-child {
    grid-column: 1/3;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .promo {
    min-height: 604px;
  }
  .promo__title {
    width: 98%;
    font-size: 40px;
  }
  .promo__btn {
    display: block;
    margin: 40px auto 0 auto;
  }
  .measure {
    min-height: 667px;
  }
  .measure__wrapper {
    padding-top: 40px;
  }
  .measure__square {
    width: 100%;
    margin: 50px auto 0 auto;
  }
  .measure__square::before {
    left: -7px;
  }
  .measure__square::after {
    right: -7px;
  }
  .measure__square-text {
    font-size: 16px;
  }
  .measure__square-subtext {
    font-size: 14px;
  }
  .measure__square-form {
    margin-top: 30px;
  }
  .measure__square-input {
    width: 290px;
    height: 50px;
    font-size: 14px;
  }
  .title {
    font-size: 20px;
  }
  .how-it-is__wrapper {
    padding: 40px 0;
  }
  .how-it-is__field {
    margin: 50px auto 0 auto;
    width: 80%;
    grid-template-columns: 1fr;
  }
  .how-it-is__field-text {
    font-size: 16px;
    padding: 0 40px;
  }
  .how-it-is__field-last-text {
    font-size: 20px;
  }
  .how-it-is__field-item:last-child {
    grid-column: auto;
  }
  .footer__rights {
    width: 100%;
    text-align: center;
  }
  .footer__confident {
    margin: 30px auto 0 auto;
    text-align: center;
  }
}

@media (max-width: 414px) {
  .how-it-is__field {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0 10px;
  }
  .header__wrapper {
    justify-content: center;
  }
  .header .container {
    padding: 0 10px;
  }
  .header .nav__list {
    width: 70%;
  }
  .header .nav__item a {
    font-size: 14px;
  }
  .header__social {
    z-index: 12;
    position: fixed;
    bottom: 30px;
    left: -100%;
    width: auto;
    transition: 0.5s all;
  }
  .header__social-call {
    color: #fff;
  }
  .header__social-descr {
    color: #fff;
  }
  .header__social-descr path {
    fill: white;
  }
  .header__social.active {
    left: 15%;
  }
  .promo {
    min-height: 604px;
  }
  .promo__title {
    width: 100%;
    font-size: 40px;
  }
  .promo__btn {
    display: block;
    margin: 40px auto 0 auto;
  }
  .order {
    width: 330px;
    height: 400px;
  }
  .order__block {
    padding: 42px 10px;
  }
  .order__close {
    right: 15px;
    top: 15px;
  }
  .order__text {
    font-size: 18px;
  }
  .order__subtext {
    margin-top: 6px;
    font-size: 14px;
  }
  .order__form {
    margin-top: 24px;
  }
  .order__input {
    width: 280px;
    height: 45px;
    font-size: 14px;
  }
  .how-it-is__wrapper {
    padding: 40px 0;
  }
  .how-it-is__field {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .how-it-is__field-text {
    font-size: 16px;
    padding: 0 40px;
  }
  .how-it-is__field-last-text {
    font-size: 20px;
  }
  .how-it-is__field-item:last-child {
    grid-column: auto;
  }
}

@media (max-width: 320px) {
  .header__social.active {
    left: 12%;
  }
  .promo {
    min-height: 504px;
  }
  .promo__title {
    font-size: 38px;
  }
  .order {
    width: 280px;
    height: 350px;
  }
  .order__block {
    padding: 26px 10px;
  }
  .order__close {
    right: 8px;
    top: 10px;
  }
  .order__close img {
    width: 26px;
  }
  .order__text {
    font-size: 16px;
  }
  .order__form {
    margin-top: 16px;
  }
  .order__input {
    width: 250px;
    height: 40px;
  }
  .order__btn {
    width: 200px;
    height: 40px;
  }
}
