@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: local("OpenSans-Regular"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Regular";
  font-display: swap;
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "OpenSans-Regular";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main {
  padding: 91px 0 400px 0;
  background-color: #fffafa;
}

.news__title {
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}

.news__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(536px, auto);
  grid-auto-rows: minmax(536px, auto);
  -moz-column-gap: 42px;
       column-gap: 42px;
  row-gap: 84px;
  margin-top: 75px;
}

.news__item {
  position: relative;
  display: grid;
  grid-template-rows: minmax(464px, auto) minmax(30px, auto);
  row-gap: 45px;
}

.news__data {
  margin-top: 28px;
  font-size: 16px;
  line-height: 22px;
  color: #808080;
}

.news__descr {
  margin-top: 28px;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.news__link a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;
  color: #7d0024;
}

.news__link a svg {
  margin-left: 8px;
}

.news__link a:hover {
  color: #9d2441;
}

.news__btn {
  display: block;
  cursor: pointer;
  margin: 86px auto 0 auto;
  outline-style: none;
  width: 243px;
  height: 61px;
  border-radius: 10px;
  background: #7d0024;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  transition: 0.3s all;
}

.news__btn:hover {
  background: #9d2441;
}

.services {
  margin-top: 150px;
  font-family: "ProximaNova-Regular";
  font-weight: 400;
}

.services__title {
  font-size: 38px;
  line-height: 46px;
  color: #000000;
}

.services__cards {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(345px, auto));
  grid-auto-rows: minmax(345px, auto);
  row-gap: 36px;
  -moz-column-gap: 23px;
       column-gap: 23px;
}

.services__item {
  width: 384px;
  min-height: 345px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
  transition: 0.6s all;
}

.services__item:hover {
  transform: translateY(-17px);
}

.services__img {
  text-align: center;
  height: 251px;
}

.services__img img {
  margin-top: 15px;
}

.services__descr {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 94px;
  background: #9d2441;
  border-radius: 10px;
}

.services__descr_text {
  width: 76%;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

@media (max-width: 1040px) {
  .news__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(371px, 1fr));
  }
}
