@font-face {
    font-family: "MTS Sans";
    src: url("MTSSans-Black.woff2") format("woff2"), url("MTSSans-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MTS Sans UltraWide";
    src: url("MTSSans-UltraWide.woff2") format("woff2"), url("MTSSans-UltraWide.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "MTS Sans";
    src: url("MTSSans-Medium.woff2") format("woff2"), url("MTSSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MTS Sans";
    src: url("MTSSans-Regular.woff2") format("woff2"), url("MTSSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MTS Sans";
    src: url("MTSSans-Bold.woff2") format("woff2"), url("MTSSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
